# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Environment-dependent path to Maven home directory
/mavenHomeManager.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.env
*.DS_Store
storage-service/example_files/
*/.idea/*
.idea/*
.run


/cache-service/node_modules/

example-data/3d-models/FLOWERPOT_GLB.glb
/cache-service/dist/